<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danceswithcaterpillars.cardsearch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:name="CardSearch">
        <activity
            android:label="@string/app_name"
            android:name=".activities.MainActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchForCard" />
        </activity>
        <activity
            android:label="@string/app_name"
             android:name=".activities.CardListActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchForCard" />

            <intent-filter >

            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
     		android:name=".activities.SearchForCard" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:label="@string/app_name"
             android:name=".activities.ViewCardActivity">
        </activity>
        
        <activity
            android:name=".activities.DeckOverviewActivity"
            android:label="View Deck Info">
        </activity>

        <activity
            android:name=".activities.CreateDeckActivity"
            android:label="Create a new Deck">
        </activity>    
        
        <activity 
            android:name=".activities.DeckListActivity"
            android:label="Deck List">
			<intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.EditCardInDeckActivity"
            android:label="Edit Card">
            
        </activity>
            
        <provider
            android:authorities="com.danceswithcaterpillars.cardsearch.content.cardcontentprovider"
            android:name=".content.cards.CardContentProvider" >
        </provider>
        <provider
            android:authorities="com.danceswithcaterpillars.cardSearch.Cards"
            android:name=".content.local.CardDatabaseProvider" />
    </application>

</manifest>